<% include partials/header %>

<% include partials/navigation %>

<div class="checkout-box">

    <h2 style="text-align: center;">
        <span>
            <i class="fa fa-check-circle-o" style = "color : green;" aria-hidden="true"></i><br>
        </span>
        Thank You.
    </h2>
    <p style="text-align: center;">Your log has been saved.</p>
    <br>
    <p style="text-align: center;"> Log ID: <%= logID%>  </p>

</div>

<% include partials/footer %>